### Overview

- Declaring and Assigning variables
- Naming Conventions
- Understanding Variables Types
- Type checking and conversion
- Dynamic typing

In [1]:
## declaring and assinging variables

name = "John Doe"
age = 78
height = 6.2
is_student = False

print("Age : ", age)
print("Height : ", height)
print("Name : ", name)

Age :  78
Height :  6.2
Name :  John Doe

In [5]:
## naming convention
## variable names should be descriptive 
## must always start with a letter or underscore, and can contain letter, numbers and underscores in between
## variables names are case sensitive

# valid
first_name = "John"
_lastname = "Doe"

print(_lastname)


# invalid
# first-name = "John"

print(first_name)

Doe
John

In [6]:
## variable types
## Python is dynamically typed; type is determined at runtime

age = 78
height = 6.2
name = "John Doe"
is_student = False
type(is_student)

bool

In [9]:
## type checking and conversion

print(type(age))

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
78
<class 'str'>

In [11]:
age = '25'
print(type(age))
print(type(int(age)))

<class 'str'>
<class 'int'>

In [ ]:
## invalid conversion

# int(name)

invalid literal for int() with base 10: 'John Doe'

In [16]:
print(type(height))
print(height)

print(type(int(height)))
print(int(height))

<class 'float'>
6.2
<class 'int'>
6

In [19]:
## dynamic typing 
## Python allows the type of the variable to change as the program executes

var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [22]:
## input

age = int(input("What is the age?"))
print(age, type(age))

25 <class 'int'>

Simple calculator

In [25]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Quotient: ", quotient)

Sum:  45.0
Difference:  15.0
Product:  450.0
Quotient:  2.0